<div class='container'>
  <h2> <%= I18n.t(:admin_registration) %></h2>

  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-container">
    <%= form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
      
      <div class="form-group row mb-3">
        <%= f.label :name, class: 'col-3 col-form-label'  %>
        <div class="col-9">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row mb-3">
        <%= f.label :email, class: 'col-3 col-form-label' %>
        <div class="col-9">
          <%= f.email_field :email, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row mb-3">
        <%= f.label :registration_number, class: 'col-3 col-form-label' %>
        <div class="col-9">
          <%= f.text_field :registration_number, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row mb-3">
        <%= f.label :password, class: 'col-3 col-form-label' %>
        <div class="col-9">
          <%= f.password_field :password, autocomplete: "Nova senha", class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row mb-3">
        <%= f.label :password_confirmation, class: 'col-3 col-form-label' %>
        <div class="col-9">
          <%= f.password_field :password_confirmation, autocomplete: "Nova senha", class: 'form-control' %>
        </div>
      </div>

      <div class="d-flex flex-row-reverse">
        <%= f.submit "Cadastrar-se", class: 'btn btn-lg btn-dark mt-1' %>
      </div>
    <% end %>
  </div>
  
  <%= render "devise/shared/links" %>
</div>