<div class='container'>
  <h2><%=I18n.t(:bonus_conversions)%></h2>

  <div class='d-flex justify-content-center'>
    <div>

      <%= link_to I18n.t(:register_new_bonus_conversion),  new_admin_backoffice_bonus_conversion_path, class:'btn btn-primary d-flex justify-content-center mb-4' %>

      <% if @bonus_conversions.any? %>
        <table class='table'>
          <thead>
            <tr>
              <th><%= BonusConversion.human_attribute_name(:initial_date) %></th>
              <th><%= BonusConversion.human_attribute_name(:final_date) %></th>
              <th><%= BonusConversion.human_attribute_name(:percentage) %></th>
              <th><%= BonusConversion.human_attribute_name(:deadline) %></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @bonus_conversions.each do |bonus| %>
              <tr>
                <td> <%= I18n.l bonus.initial_date, format: :date %> </td>
                <td> <%= I18n.l bonus.final_date, format: :date %> </td>
                <td> <%= format_percentage(bonus.percentage) %> </td>
                <td> <%= bonus.deadline %> </td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p><%= I18n.t(:empty_bonus_conversion)%></p>
      <% end %>
    </div>
  </div>
</div>