<div class="container">
  <div class='d-flex justify-content-center'>
    <div>
      <h2><%=I18n.t(:new_conversion_bonus)%></h2>

      <% if @bonus_conversion.errors.any? %>
        <div class="alert alert-danger">
          <p><%= I18n.t(:verify_bellow_errors)%></p>
          <ul>
            <% @bonus_conversion.errors.full_messages.each do |message| %>
              <li> <%= message %> </li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <%= form_with(model: [:admin_backoffice, @bonus_conversion], class:'d-flex justify-content-center flex-column') do |f| %>
      <div class="row">
        <div class="col-md-6">
          <%= f.label :initial_date, class:"form-label" %>
          <%= f.date_field :initial_date, class:"form-control mb-2" %>
        </div>

        <div class="col-md-6">
          <%= f.label :final_date, class:"form-label" %>
          <%= f.date_field :final_date, class:"form-control"%>
        </div>
      </div>

        <div class="col-md-4">
          <%= f.label :percentage, class:"form-label" %>
          <%= f.number_field :percentage, class:"form-control mb-2" %>
        </div>

        <div class="col-md-6">
          <%= f.label :deadline, class:"form-label" %>
          <%= f.number_field :deadline, class:"form-control" %>
        </div>

        <div class="d-flex justify-content-center m-4">
          <%= f.submit I18n.t(:new_conversion_bonus), class: 'btn btn-primary btn-submit-bonus-conversion btn-lg' %>
        </div>
      <% end %>
      </div>
    </div>
</div>

