<h2><%=I18n.t(:new_conversion_bonus)%></h2>


<% if @bonus_conversion.errors.any? %>
    <p><%= I18n.t(:verify_bellow_errors)%></p>
    <ul>
      <% @bonus_conversion.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
    </ul>
<% end %>


<%= form_with(model: [:admin_backoffice, @bonus_conversion]) do |f| %>
  <div>
    <%= f.label :initial_date %>
    <%= f.date_field :initial_date %>
  </div>

  <div>
    <%= f.label :final_date %>
    <%= f.date_field :final_date %>
  </div>

  <div>
    <%= f.label :percentage %>
    <%= f.number_field :percentage %>
  </div>

  <div>
    <%= f.label :deadline %>
    <%= f.number_field :deadline %>
  </div>

  <div>
    <%= f.submit I18n.t(:new_conversion_bonus) %>
  </div>
<% end %>

<%= link_to I18n.t(:come_back), admin_backoffice_bonus_conversions_path %>