<h2>Categorias Cadastradas</h2>

<div class="links">
  <%= link_to I18n.t(:add_new_category), new_admin_backoffice_category_path %>
</div>

<div>
  <% if @categories.empty? %>
    <p>Não há categorias cadastradas</p>
  <% end %>
  <% @categories.each do |category| %>
    <div class="<%= category.name.parameterize.underscore %>">
      <p><%= Category.model_name.human %>: <%= category.name %></p>
      <p><%= Category.human_attribute_name(:discount) %>: <%= category.discount %>%</p>
      <% unless category.bonus_conversion.nil? %>
        <p><%= Category.human_attribute_name(:bonus_conversion) %>: <%= category.bonus_conversion.percentage %>%</p>
      <% end %>
      <%= link_to I18n.t(:edit), edit_admin_backoffice_category_path(category.id) %>
    </div>
  <% end %>
</div>