<h3>Messagem de Recusa da Transação <%= @transaction.id %></h3>

<%= form_with(model: [:admin_backoffice, @transaction]) do |form| %>
  <div>
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>
  <%= form.submit 'Salvar' %>
<% end %>