<div class="container">
  <h2><%=I18n.t(:clients_wallets)%></h2>
  <div class='d-flex justify-content-center'>
    <div>
      <div class="mt-2">
          <% if @client_wallets.empty? %>
            <p><%=I18n.t(:empty_wallets)%></p>
          <% else %>
        </div>

          <table class='table mt-2'>
            <thead>
              <tr>
                <th><%=ClientWallet.human_attribute_name(:registered_number)%></th>
                <th><%=ClientWallet.human_attribute_name(:email)%></th>
                <th><%=ClientWallet.human_attribute_name(:category)%></th>
                <th><%=I18n.t(:situation)%></th>
              </tr>
            </thead>

            <tbody>
              <% @client_wallets.each do |wallet| %>
                <tr class='mt-2'>
                  <td><%= wallet.registered_number %></td>
                  <td><%=wallet.email %></td> 
                  <td><%=wallet.category.name %></td>
                  <td><%= button_to 'Acessar', admin_backoffice_client_wallet_path(wallet.id), method: :get, class: 'btn btn-dark btn-sm' %></td>
                </tr>
              <% end %>
            </tbody> 
          </table>
          <% end %>
    </div>
  </div>
</div>