<h2><%=I18n.t(:clients_wallets)%></h2>

<% if @client_wallets.empty? %>
  <p><%=I18n.t(:empty_wallets)%></p>
<% else %>
  <% @client_wallets.each do |wallet| %>
    <p><%=ClientWallet.human_attribute_name(:registered_number)%>: <%= link_to wallet.registered_number, admin_backoffice_client_wallet_path(wallet.id) %></p>
    <p><%=ClientWallet.human_attribute_name(:email)%>: <%=wallet.email %></p> 
    <p><%=ClientWallet.human_attribute_name(:category)%>: <%=wallet.category.name %></p> 
  <% end %>
<% end %>