<h2><%= ClientWallet.model_name.human %> <%= @client_wallet.registered_number %></h2>

<dl>
  <dt><%= ClientWallet.human_attribute_name(:registered_number) %></dt>
  <dd> <%= @client_wallet.registered_number %> </dd>
  <dt><%= ClientWallet.human_attribute_name(:email) %></dt>
  <dd> <%= @client_wallet.email %> </dd>
  <dt><%= ClientWallet.human_attribute_name(:balance) %></dt>
  <dd> <%= @client_wallet.balance %> </dd>
  <dt><%= ClientWallet.human_attribute_name(:balance) %></dt>
  <dd> <%= @client_wallet.bonus_balance %> </dd>
  <%= form_with(model: [:admin_backoffice, @client_wallet]) do |form| %>
    <div>
      <%= form.label :category %>
      <%= form.collection_select :category, @categories.order(:name), :id, :name %>
    </div>
    <%= form.submit 'Salvar' %>
  <% end %>
</dl>