<div class='container' style='max-width: 50%'>
  <h2><%= Currency.model_name.human(count: @currencies.count) %></h2>

  <div>
    <% @currencies.each do |currency| %>
      <div class='<%= currency.status %> mb-5 p-3 rounded'>
        <dl class='row'>
          <% if currency.pending? %>
            <p> <%= t(:pending_currency) %> </p>
            <div class='btn-group mb-3'>
              <%= button_to I18n.t(:approve_currency), approve_admin_backoffice_currency_path(currency), class: 'btn btn-success btn-sm' %>
              <%= button_to I18n.t(:refuse_currency), reject_admin_backoffice_currency_path(currency), class: 'btn btn-danger btn-sm' %>
            </div>
          <% end %>
          <dt class='col-sm-4'> <%= Currency.human_attribute_name(:currency_value) %>: </dt>
          <dd class='col-sm-8'> <%= number_to_currency(currency.currency_value)%> </dd>

          <dt class='col-sm-4'> <%=I18n.t(:responsable_user)%>: </dt>
          <dd class='col-sm-8'> <%= currency.admin.name %> </dd>

          <dt class='col-sm-4'> <%=Currency.human_attribute_name(:status)%>: </dt>
          <dd class='col-sm-8'> <%= I18n.t(currency.status) %> </dd>

          <dt class='col-sm-4'> <%=Currency.human_attribute_name(:created_at)%>: </dt>
          <dd class='col-sm-8'> <%= I18n.l(currency.created_at.to_date, format: :default) %> </dd>
        </dl>
      </div>
    <% end %>
  </div>
</div>