<h2><%=I18n.t(:new_curreny)%></h2>

<%= form_with(model: [:admin_backoffice, @currency]) do |form| %>
  <%= form.label :currency_value %>
  <%= form.number_field :currency_value, step: :any %>
  <%= form.submit I18n.t(:save) %>
<% end %>