<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t(:payments) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div>
        <h1><%= link_to I18n.t(:payments), root_path %></h1>
      </div>
      <nav>
        <% if admin_signed_in? %>
          <%= current_admin.name %> | 
          <%= current_admin.email %> |
          <%= link_to Currency.model_name.human, admin_backoffice_currencies_path %> |
          <% if Currency.pending.empty? %>
            <%= link_to I18n.t(:register_new_currency), new_admin_backoffice_currency_path %> |
          <% end %>

          <%= link_to I18n.t(:bonus_conversions), admin_backoffice_bonus_conversions_path %> |
          <%= link_to I18n.t(:categories),  admin_backoffice_categories_path %> |
          <%= link_to I18n.t(:clients_wallets), admin_backoffice_client_wallets_path %> |
          <%= link_to 'Transações', admin_backoffice_transactions_path %> |
          <%= link_to 'Cadastrar limite de crédito diário', new_admin_backoffice_credit_limit_path %> |
          <%= button_to I18n.t(:exit), destroy_admin_session_path, method: :delete%>

        <% else %> 
          <%= link_to I18n.t(:sign_in), new_admin_session_path %> |
          <%= link_to I18n.t(:register), new_admin_registration_path %>
        <% end %>
      </nav>
    </header>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
