<!DOCTYPE html>
<html>
  <head>
    <title>Pagamentos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div>
        <h1>Pagamentos</h1>
      </div>
      <nav>
        <% if admin_signed_in? %>
          <%= current_admin.name %> | 
          <%= current_admin.email %> |
          <%= link_to 'Taxa de Câmbio', admin_backoffice_currencies_path %> |
          <%= link_to 'Cadastrar nova Taxa', new_admin_backoffice_currency_path %> |
          <%= link_to 'Conversões Bônus', admin_backoffice_bonus_conversions_path %>
          <%= link_to 'Categorias',  admin_backoffice_categories_path %> |
          <%= button_to 'Sair', destroy_admin_session_path, method: :delete%>
        <% else %> 
          <%= link_to 'Entrar', new_admin_session_path %> |
          <%= link_to 'Registrar-se', new_admin_registration_path %>
        <% end %>
      </nav>
    </header>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
