<!DOCTYPE html>
<html>
  <head>
    <title>Pagamentos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Pagamentos</h1>
    <header>
      <nav>
        <ul>
          <li><%= link_to 'Taxa de Câmbio', currencies_path %></li>
          <li><%= link_to 'Cadastrar nova Taxa', new_currency_path %></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
